
<h1>Todo app</h1>
<%if(user){ %>
    <ul>
        <li><a href="/users/profile/<%=user._id%>"><%=user.name %></a></li>
        <li>
            <form action="/users/list/<%=user._id%>" method="POST">
                <input type="text" name="description" placeholder="Description">
                <input type="text" name="category" placeholder="Category">
                <input type="date" name="date" placeholder="Date">
                <input type="submit" value="ADD">
            </form>
        </li>
        <% for(let i of user.list) {%>
                <li><a href="/users/destroy/<%= i._id%>">X</a><%= i.description %></li>
                <li><%= i.category %></li>
                <li><%= i.date %></li>
        <%} %>
            
        
        <li><a href="/users/sign-out">Sign Out</a></li>
    </ul>
<% } %>
