
<div class="user-head">
    <div class="heading">Todo app</div>
    <div class="profile-link"><a href="/users/profile/<%=user._id%>"><%=user.name %></a></div>
    <div class="profile-link"><a href="/sign-out">Sign Out</a></div>
</div>

<%if(user){ %>
    <div class="card">
        <ul>
            <li>
                <form id="create-list" action="/users/list/<%=user._id%>" method="POST">
                    <input class="form-input" type="text" name="description" placeholder="Description">
                    <input class="form-input" type="text" name="category" placeholder="Category">
                    <input class="form-input" id="date" type="date" name="date" placeholder="Date">
                    <input class="btn" type="submit" value="ADD">
                </form>
            </li>
            <% for(let i of user.list) {%>
                <div class="list">
                    <li><a id="destroy" href="/users/destroy/<%= i._id%>">  <i class="far fa-trash-alt"></i></a><%= i.description %></li>
                    <li><%= i.category %></li>
                    <li><%= i.date.getDate()+"-"+(i.date.getMonth()+1)+"-"+i.date.getFullYear() %></li>
                </div>
            <%} %>
                
        </ul>
    </div>
    
<% } %>

<script src="/js/index.js"></script>
